<script>
export default {
        methods: {
            async articlesJSONData(){
                let articlesJSON = "articlesDonnees.json";
                let response = await fetch(articlesJSON);
                let jsonData = await response.json();
                this.articles = jsonData.article;
            },
            transferData(){
                let testData = document.getElementById("testData");
                this.$emit(testData.value);
            }
        },
        data() {
            return {
                articles: []
                //img: ''
            }
        },
        mounted() {
            this.articlesJSONData()
        }
    }
</script>

<template>
    <h2>Autres voyages</h2>
    <div id="articleGrid">
        <div v-for="article in articles" class="autresArticle"
        onclick="location.href='article.html'" 
        :style="{ backgroundImage: `url(${article.ImagePrincipale})` }"
        @click="transferData()">
            <div class="transparentBar">
                <div class="firstPartTransparentBar">
                    <p>{{ article.Pays }} {{ article.Ville }}</p>
                </div>
                <div class="secondPartTransparentBar"><p class="dates">
                    Du {{ article.DateDeDepart }}
                    Au {{ article.DateDeRetour }}</p></div>
            </div>
            <input id="testData" type="hidden" name="articleID" :value="`${article.id}`">
        </div>
    </div>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    #articleGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .autresArticle{
        height: 250px;
        display: flex;
        flex-direction: column-reverse;
    }
    .autresArticle:hover{
        cursor: pointer;
    }
    .transparentBar{
        width: 100%;
        height: 20%;
        background-color: #C96B41;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p{
        color: white;
        padding: 20px;
        font-family: Lora-Regular;
        font-size: 0.8em;
    }
    .dates{
        font-family: Inter-Regular;
    }
    .firstPartTransparentBar, .secondPartTransparentBar{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .secondPartTransparentBar{
        border-left: white 2px solid;
    }
    @media (max-width: 800px){
        #articleGrid{
            display: flex;
            flex-direction: column;
        }
        .autresArticle{
            width: 80vw;
            height: 55vw;
        }
    }
</style>