<script>

</script>

<template>
    <div id="backButton" onclick="location.href='index.html'">
        <img id="boutonBackArrow" src="backArrow.svg" alt="">
    </div>
</template>

<style scoped>
    #backButton{
        height: 90px;
        width: 90px;
        background-color: #C96B41;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #boutonBackArrow{
        height: 25%;
        width: 25%;
        filter: invert(100%);
    }
    #backButton:hover{
        cursor: pointer;
    }
</style>