<script>
export default {
        methods: {
            async articlesJSONData(){
                let articlesJSON = "articlesDonnees.json";
                let response = await fetch(articlesJSON);
                let jsonData = await response.json();
                let test = jsonData.article.filter(i => i.EnHautDeHome == true)

                this.pays = test[0].Pays;
                this.ville = test[0].Ville;
                this.dateDepart = test[0].DateDeDepart;
                this.dateRetour = test[0].DateDeRetour;
                this.imgPrincipaleArticle = test[0].ImagePrincipale;
                this.idArticle = test[0].id;
            }
        },
        data() {
            return {
                pays: '',
                ville: '',
                dateDepart: '',
                dateRetour: '',
                imgPrincipaleArticle: '',
                idArticle: '',
            }
        },
        props: {
            testProp: "foo"
        },
        mounted() {
            this.articlesJSONData();
        }
    }
</script>

<template>
    <div id="dernierArticle" :style="{ backgroundImage: `url(${imgPrincipaleArticle})` }"
        onclick="location.href='article.html'">
        <div id="transparentBar">
            <div id="firstPartBar"><p>{{ pays }} - {{ ville }}</p></div>
            <div id="secondPartBar"><p id="dates">{{ dateDepart }} - {{ dateRetour }}</p></div>
        </div>
    </div>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    #dernierArticle{
        height: 400px;
        width: 600px;
        display: flex;
        flex-direction: column-reverse;
    }
    #dernierArticle:hover{
        cursor: pointer;
    }
    #transparentBar{
        width: 100%;
        height: 20%;
        background-color: #C96B41;
        opacity: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    p{
        color: white;
        padding: 20px;
        font-family: Lora-Regular;
    }
    #dates{
        font-family: Inter-Regular;
    }
    #firstPartBar, #secondPartBar{
        display: flex;
        align-items: center;
        height: 100%;}
    #secondPartBar{
        border-left: white 2px solid;
    }
</style>