<script>
    export default {
        methods: {
            async articlesJSONData(){
                let articlesJSON = "articlesDonnees.json";
                let response = await fetch(articlesJSON);
                let jsonData = await response.json();
                this.articles = jsonData.article;
            }
        },
        data() {
            return {
                articles: []
            }
        },
        mounted() {
            this.articlesJSONData()
        }
    }
</script>

<template>
    <div v-for="article in articles" class="entete">
        <h2>{{ article.Pays }} - {{ article.Ville }}</h2>
        <p>{{ article.DateDeDepart }} - {{ article.DateDeRetour }}</p>
        <img class="imagePrincipale" :src=article.ImagePrincipale alt="">
    </div>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    h2{
        font-family: Lora-Regular;
        margin-bottom: 0;
    }
    p{
        font-family: Inter-Regular;
        font-size: 0.7em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    img{
        height: 400px;
    }
    @media (max-width: 800px){
        img{
            height: 60vw;
            width: 90vw;
        }
    }
</style>