<template>
    <footer><p>À très vite !</p></footer>
</template>
<style scoped>
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    *{
        font-family: Lora-Regular;
    }
    footer{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>