<script>
    export default {
        methods: {
            async logJSONData(){
                let weatherAPI = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Carcassonne?unitGroup=metric&key=E7J52LFT9HGZLGVUBGLZ2AHMV&contentType=json";
                let response = await fetch(weatherAPI);
                let jsonData = await response.json();
                this.nomVille = jsonData.address;
                this.temperatureVille = jsonData.currentConditions.temp;
                this.svgWeather = jsonData.currentConditions.icon;
            }
        },
        data() {
            return {
                nomVille: '',
                temperatureVille: 0,
                svgWeather: ''
            }
        },
        mounted() {
            this.logJSONData()
        }
    }
</script>
<template>
    <div id="header">
        <div id="headerOne"><p id="ville">{{ nomVille }}</p>
            <p id="temperature"><img id="weatherSymbol" :src="'4th Set - Monochrome/' + svgWeather + '.svg'" 
                alt="">{{ temperatureVille }}°C</p></div>
        <div id="headerTwo"><p>Carnet de voyages</p></div>
    </div>
</template>
<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    *{
        font-family: Inter-Regular;
    }
    #header{
        width: 100px;
        height: 100%;
        background-color: #EEDFD4;
        font-size: 1em;
        writing-mode: sideways-lr;
        text-orientation: sideways;
        display: flex;
        justify-content: space-between;
    }
    #headerOne{
        border-top: black 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #headerTwo{
        border-bottom: black 1px solid;
        display: flex;
        align-items: center;
    }
    #headerOne, #headerTwo{
        padding: 20px;
    }
    #weatherSymbol{
        height: 30px;
        width: 30px;
        transform: rotate(-90deg);
    }
    #temperature{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #ville, #temperature{
        margin: 0;
    }
    @media (max-width: 800px){
        #header{
            width: 100%;
            height: 80px;
            writing-mode: horizontal-tb;
            text-orientation: upright;
            display: flex;
            justify-content: space-between;
        }
        #weatherSymbol{
            transform: rotate(0deg);
        }  
        #headerOne{
            border-top: none;
            border-left: black 1px solid;
            order: 2;
        }
        #headerTwo{
            border-bottom: none;
            order: 1;
        }
    }
</style>