<script>

</script>

<template>
    <div>
        <h2>Le Titre</h2>
        <div id="texteVoyage"><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Tempora libero consectetur quaerat error quia, 
            doloribus facilis quisquam rerum harum perferendis quae dolores esse officia, 
            a
            c
            c
            usantium aliquam sequi id aperiam blanditiis.</p></div>
    </div>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    #texteVoyage{
        background-color: #C96B41;
        padding: 5%;
    }
    p{
        color: #FFFFFF;
        font-family: Inter-Regular;
    }
    h2{
        font-family: Lora-Regular;
    }
</style>