<script>
export default {
        methods: {
            async articlesJSONData(){
                let articlesJSON = "articlesDonnees.json";
                let response = await fetch(articlesJSON);
                let jsonData = await response.json();
                this.articles = jsonData.article;
            }
        },
        data() {
            return {
                articles: []
            }
        },
        mounted() {
            this.articlesJSONData()
        }
    }
</script>

<template>
    <h2>Notre avis</h2>
    <h3>Les plus</h3>
    <ul v-for="article in articles">
        <li>{{ article.PointsPositifs }}</li>
    </ul>
    <h3>Les moins</h3>
    <ul v-for="article in articles">
        <li>{{ article.PointsNegatifs }}</li>
    </ul>
    <h3>Mon conseil</h3>
    <ul v-for="article in articles">
        <li>{{ article.Conseils }}</li>
    </ul>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    h2, h3{
        font-family: Lora-Regular;
    }
    li{
        font-family: Inter-Regular;
    }
</style>