<script>
export default {
        methods: {
            async articlesJSONData(){
                let articlesJSON = "articlesDonnees.json";
                let response = await fetch(articlesJSON);
                let jsonData = await response.json();
                this.articles = jsonData.article;
            }
        },
        data() {
            return {
                articles: []
            }
        },
        mounted() {
            this.articlesJSONData()
        }
    }
</script>

<template>
    <h2>Pour voyager un peu plus</h2>
    <div id="articleGrid">
        <img :src=article.ImagesSecondaire[0] v-for="article in articles" alt="">
    </div>
</template>

<style scoped>
    @font-face {
        font-family: Inter-Regular;
        src: url(Inter-Regular.ttf);
    }
    @font-face {
        font-family: Lora-Regular;
        src: url(Lora-Regular.ttf);
    }
    h2{
        font-family: Lora-Regular;
    }
    #articleGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    img{
        height: 200px;
    }
    @media (max-width: 800px){
        #articleGrid{
            display: flex;
            flex-direction: column;
        }
    }
</style>