<script setup>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import DernierArticle from './components/DernierArticle.vue'
import AutreArticle from './components/AutreArticle.vue'
</script>

<template>
  <div id="bodyTest">
    <header>
      <Header />
    </header>

    <div id="mainBodyTest">

      <section id="dernierArticle">
        <DernierArticle />
      </section>

      <section>
        <AutreArticle />
      </section>

      <footer>
        <Footer />
      </footer>

    </div>
  </div>
</template>

<style scoped>
  #bodyTest{
    display: flex;
    flex-direction: row;
  }
  Header{
    width: 100px;
    height: 100%;
    position: sticky;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
  #mainBodyTest{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1em;
  }
  @media (max-width: 800px){
    #bodyTest{
      flex-direction: column;
    }
    Header{
      width: 100%;
    }
    #dernierArticle{
      width: 90vw;
      height: 60vw;
    }
  }
</style>
