<script setup>
    import Header from './components/Header.vue'
    import Footer from './components/Footer.vue'
    import BoutonBack from './components/BoutonRetour.vue'
    import VoyageResume from './components/LeVoyageResume.vue'
    import NotreAvis from './components/NotreAvis.vue'
    import VoyagerUnPeuPlus from './components/VoyagerUnPeuPlus.vue'
    import EnTeteArticle from './components/EnTeteArticle.vue'
</script>

<template>
    <div id="bodyTest">
        <header>
          <Header />
        </header>
        
        <div id="mainBodyTest">
            
            <section id="EnTeteArticle">
              <EnTeteArticle />
            </section>

            <section>
                <VoyageResume />
            </section>

            <section>
                <NotreAvis />
            </section>

            <section>
                <VoyageResume />
            </section>

            <section>
                <VoyagerUnPeuPlus />
            </section>

            <footer>
                <Footer />
            </footer>

        </div>
        
        <section id="boutonBack">
            <BoutonBack />
        </section>
    </div>
</template>

<style scoped>
  #bodyTest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  Header{
    width: 100px;
    height: 100%;
    position: sticky;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
  #mainBodyTest{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  #boutonBack{
    align-self: flex-end;
    position: sticky;
    bottom: 0px;
  }
  @media (max-width: 800px){
    #bodyTest{
      flex-direction: column;
    }
    Header{
      width: 100%;
      order: -2;
    }
    #boutonBack{
      top: 80px;
      bottom: unset;
      order: -1;
    } 
    #mainBodyTest{
      width: 100%;
    }
  }
</style>